{% extends 'base.html.twig' %} 

{% block titre %}
    Home
{% endblock %}

{% block main %}
    <h2>Home</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, sed optio natus aliquam distinctio eaque asperiores hic eos veritatis adipisci reiciendis vel, odit deserunt officia. Quia eaque voluptatem aliquid nesciunt. Corporis optio eos cumque
    repellendus aperiam labore laborum iusto neque. Dolores tempore magnam maiores voluptates ea fugiat doloremque amet, quos dolore earum maxime ipsum, non facere saepe quaerat similique eligendi?</p>
{% endblock %}