@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
* {
    font-family: 'Mukta', sans-serif;
}

main {
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}